<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/v10_auth_prototype/tests/Unit" />
        <option value="$PROJECT_DIR$/v10_auth_prototype/tests/Feature" />
        <option value="$PROJECT_DIR$/v10_auth_breeze/tests/Unit" />
        <option value="$PROJECT_DIR$/v10_auth_breeze/tests/Feature" />
        <option value="$PROJECT_DIR$/v10_auth_react/tests/Unit" />
        <option value="$PROJECT_DIR$/v10_auth_react/tests/Feature" />
      </list>
    </option>
  </component>
</project>